name: Build and release

on:
  release:
    types: [created]

jobs:
  # Job name
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      # Get source code to VM
      - uses: actions/checkout@v2
      # Install node
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
